<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
    <a class="navbar-brand" href="#">WorkPro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">MyProfile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MyBids</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item freelancer dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="../../assets/images/freelancer.jpg" class="rounded-circle z-depth--1" alt="freelancer image">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
  <!--/.Navbar -->
  
<div class="container">
    
  <div *ngFor="let project of projects">
    <app-project-card-user-dashboard [project]=project></app-project-card-user-dashboard>
  </div>
</div>