<!--The content below is only a placeholder and can be replaced.-->
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar navbar-expand-lg navbar-dark secondary-color lighten-1" >
  <button mat-icon-button (click)="drawer.toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>

  <a class="navbar-brand ml-2" href="#">WorkPro</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register!!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login!!</a>
      </li>
      
    </ul>
  </div>
</nav>



<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <ul style=" list-style-type: none">
        <li class="nav-item">
                <a class="nav-link" [routerLink]="['/userdashboard']">Userdashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="projectownerdashboard"
                  >ProjectOwnerDashboard</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="productownermyprojects"
                  >My project Product Owner</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="project">Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="projectDetailForm">ProjectDetailForm</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="freelancerdetails"
                  >Freelancer Details Form</a
                >
              </li>
            </ul>
  </mat-drawer>
 <router-outlet></router-outlet>
</mat-drawer-container>

<!-- <router-outlet></router-outlet> -->
