.navbar {
  background-color: #122c34;
  max-height: 50px;
}

.nav-pills .nav-link.active {
  background-color: #222222;
}
div {
  border-right: 1px solid rgb(168, 168, 180);
  height: 100%;
}

.example-container {
  height: -webkit-fill-available;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-toggler-icon {
    background-color: #122c34;
   
}
