<!--The content below is only a placeholder and can be replaced.-->
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
  <button mat-icon-button (click)="drawer.toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <a class="navbar-brand ml-2" href="#">WorkPro</a>
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555"
    aria-expanded="true"
    aria-label="Toggle navigation"
  > -->
  <!-- <span class="navbar-toggler-icon"></span> -->
  <!-- </button> -->
  <div class="collapse navbar-collapse">
    <div *ngIf="!isLogin; else elseBlock2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #elseBlock2>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/#']">Logout</a>
      </li>

    </ul>
  </ng-template>
</nav>

<mat-sidenav-container class="example-container">

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="inner">
      <div class="container-logo">
          <img src="../assets/images/logo5.png" alt="logo" style="margin-bottom:10px">
      </div>
      <mat-divider></mat-divider>

      <div *ngIf="role == 'ADMIN'; else elseBlock">
        <mat-nav-list style="margin-top: 40px">
          <mat-list-item>
            <a class="nav-link" routerLink="projectownerdashboard">ProjectOwnerDashboard</a>
          </mat-list-item>
          <mat-list-item>
            <a class="nav-link" routerLink="productownermyprojects">My project</a>
          </mat-list-item>
          <mat-list-item>
            <a class="nav-link" routerLink="poprofile">My Profile</a>
          </mat-list-item>
          <mat-list-item>
            <a class="nav-link" routerLink="editpoprofile">Edit Profile</a>
          </mat-list-item>
         
        </mat-nav-list>
      </div>

      <ng-template #elseBlock>
        <div *ngIf="role == 'USER'; else elseBlock1">
          <mat-nav-list>
            <mat-list-item>
              <a class="nav-link" [routerLink]="['/userdashboard']">Userdashboard</a>
            </mat-list-item>

            <mat-list-item>
              <a class="nav-link" [routerLink]="['/freelancerprofile']">My Profile</a>
            </mat-list-item>

            <mat-list-item>
              <a class="nav-link" [routerLink]="['/mybids']">My Bids</a>
            </mat-list-item>

            <mat-list-item>
              <a class="nav-link" routerLink="freelancerdetails">Freelancer Details Form</a>
            </mat-list-item>

          </mat-nav-list>
        </div>
      </ng-template>

      <ng-template #elseBlock1>
        <mat-nav-list>
          <mat-list-item>
            <a class="nav-link" href="#">About Us</a>
          </mat-list-item>
        </mat-nav-list>
      </ng-template>
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-sidenav-container>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3" style="color:white">
    © 2019 Copyright:
    <a href="https://mdbootstrap.com/education/angular/" style="color:white">
      WorkPro.com</a>
  </div>
</footer>