<!--The content below is only a placeholder and can be replaced.-->
<button class="btn btn-success" type="button" routerLink="/register">Register Me!!</button> 
<button class="btn btn-success" type="button" routerLink="/login">Login Me!!</button> 
<button class="btn btn-success" routerLink="userdashboard">User Dash Board</button>
<button class="btn btn-success" routerLink="freelancerdetails">freelancerdetails</button>
<button class="btn btn-success" routerLink="project">Details</button>
<!-- <button routerLink="freelancerdetails" class="btn">Freelncer Details</button>
<router-outlet></router-outlet> -->
    

<router-outlet></router-outlet>
