<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}} -->
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
      <form #first="ngForm" >
       

          <label for="domain">Domain</label>
          <select class="form-control" name="domain" ngModel  id="domain">
            <option>IT</option>
            <option>EM</option>
          </select>
            <!-- <label for="POemail">Email </label>
            <input type="email" class="form-control" id="POemail" placeholder="name@example.com"> -->
            <label for="name">Project Name </label>
            <input type="text" name="projectName" ngModel class="form-control" id="name">

            <label for="ProjectDesc">Project Description</label>
            <textarea class="form-control" name="projectDescription" ngModel id="ProjectDesc" rows="3"></textarea>


            <!-- ..skills Badge
    <div class="row d-flex">
        <span *ngFor="let skill of skills" class="badge badge-pill badge-primary">{{skill.skillName}}
          <button type="button" class="close" (click)="deleteSkill(skill)" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
        </span>
      </div> -->
  
  
     
  
      <!-- skills -->
      <div >
        <label for="skills">Skills</label>
          <input type="text" #skill id=skillName name="skillName" class="form-control col-lg-2 m-0" placeholder="SkillName">
          <button class="btn btn-primary"  (click)="addSkill(skill.value)">Add</button>
      </div>
      
  

            <!-- <label for="status">Project Status</label> -->
          <!-- <select class="form-control" name="projectStatus" ngModel id="status">
            <option>open</option>
          </select> -->

          <label for="name">Complition Date </label>
          <input type="text" name="projectCompletionDate" ngModel class="form-control" id="complitionDate">

          <label for="name">Location </label>
          <input type="text"  name="projectLocation" ngModel class="form-control" id="location">

          <label for="name">Preference</label>
          <input type="text" name="projectPreference" ngModel class="form-control" id="preference">

          <button matStepperNext type="button" class="btn btn-primary" (click)="addfirstDetails(first.value)">Save Changes</button>

        </form>
    
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
      <form #Second="ngForm" >

          <label for="name">Max Budget</label>
          <input type="text" name="maximumBudget" ngModel class="form-control" id="maximumBudget">

          <label for="name">Min Budget</label>
          <input type="text" name="minimumBudget" ngModel class="form-control" id="minimumBudget">

          <label for="name">Bid Duration</label>
          <input type="text" name="bidLastDate" ngModel class="form-control" id="bidLastDate">
        </form>
        <button matStepperNext type="button" class="btn btn-primary" (click)="addBid(Second.value)" (click)="saveUser(first.value,user,userForm)" [routerLink]="['/productownermyprojects']">Submit</button>
  </mat-step>
  
</mat-horizontal-stepper>