<div class="container mt-5">
  <div class="card">
    <div>
      <ul>
        <li>
          <button routerLink="#" class="btn btn-primary text-white">
            Edit
          </button>
        </li>
        <li>
          <button routerLink="#" class="btn btn-primary text-white ml-4">
            Delete
          </button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ details.name }}</h4>
      <p class="card-text">{{ details.discription }}</p>
      <p class="card-text">{{ details.Amount }}</p>
      <p class="card-text">{{ details.requiredTime }}</p>
    </div>
  </div>
  <div class="text-center"><h3>Bids</h3></div>
  <div *ngFor="let bid of details.bids" class="card mt-3">
    <div class="card-body">
      <h4 class="card-title">{{ bid.name }}</h4>
      <p class="card-text">{{ bid.bidValue }}</p>
      <p class="card-text">{{ bid.timeLimit }}</p>
      <div>
        <button routerLink="#" class="btn btn-primary text-white">
          Accept
        </button>
      </div>
    </div>
  </div>
</div>
