.card {
  margin: 2rem 0rem 0rem 0rem;
}
.container{
    border-style: ridge;
}
button{
    background-color: #122c34;
}
button:hover{
    background-color: #224870;
}
ul{
    list-style: none;
    display: flex;
    float: right;
}
ul li{
    justify-content: space-between;
}



