<div class="container mt-5">
  <div class="card">
    <div>
      <ul>
        <li>
          <button routerLink="#" class="btn btn-primary text-white">
            Edit
          </button>
        </li>
        <li>
          <button routerLink="#" class="btn btn-primary text-white ml-4">
            Delete
          </button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ projects1.projectName }}</h4>
      <p class="card-text">{{ projects1.projectDescription }}</p>
     
      <p class="card-text">{{bidsInfromation.maximumBudget}}</p>
      <p class="card-text">{{ bidsInfromation.minimumBudget }}</p>
      <p class="card-text">{{ projects1.projectCompletionDate}}</p>
    </div>
  </div>
  <div class="text-center">
    <h3>Bids</h3>
  </div>
  <div *ngFor="let bid of biders" class="card mt-3">
    <div class="card-body">
      <h4 class="card-title">{{ bid.freelancerEmailId }}</h4>
      <p class="card-text">{{ bid.bidAmount }}</p>
      <p class="card-text">{{ bid.proposedCompletionDate }}</p>
      <div>
        <button routerLink="/productownermyprojects" (click)="projectassign(bid.freelancerEmailId)" class="btn btn-primary text-white">
          Accept
        </button>
        <button routerLink="/freelancerprofile/{{bid.freelancerEmailId}}" class="btn btn-primary text-white">
          Details
        </button>
      </div>
      
    </div>
  </div>
</div>