/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.freelancer-details-form{
        display: flex;
        justify-content: center;
        border: white 0px solid;
        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.55);
        padding: 3rem;
        width: max-content;
        width: 100%;
}