<div>
  <!-- <button type="button" class="btn btn-primary" style= "margin-left: 4px; margin-right : 4px; float: right">Open Projects</button>
<button type="button" class="btn btn-primary" style = "margin-left: 4px; margin-right: 4px; float: right">Close Projects</button> 
<button type="button" class="btn btn-primary" style = "margin-left: 4px; margin-right: 4px; float: right;">Add Projects</button> -->

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        (click)="filterOpenProjects()"
        id="home-tab"
        data-toggle="tab"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Open Projects</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        (click)="filterCloseProjects()"
        id="profile-tab"
        data-toggle="tab"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
        >Close Projects</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="contact-tab"
        data-toggle="tab"
        role="tab"
        aria-controls="contact"
        aria-selected="false"
        >Add Projects</a
      >
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      ...
    </div>
  </div>
</div>

<div *ngFor="let project of projects">
  <app-project-card-product-owner-myproject
    [project]="project"
  ></app-project-card-product-owner-myproject>
</div>
