<div class="container">
  <div class="row ng-scope">
      <div class="col-md-3 col-md-push-9">
          <h4>Results <span class="fw-semi-bold">Filtering</span></h4>
          <p class="text-muted fs-mini">Listed content is categorized by Skills:</p>
        
      </div>
      <div class="col-md-9 col-md-pull-3">
          <p class="search-results-count">About 94 700 000 (0.39 sec.) results</p>
          <section class="search-result-item">
              <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
              </a>
              <div class="search-result-item-body">
                  <div class="row">
                      <div class="col-sm-9">
                          <h2 class="search-result-item-heading"><a href="#">John doe</a></h2>
                          <br>
                          <h5>Skills:</h5>
                          <p class="description">"Android / jQuery / Prototype / Mobile App Development"</p>
                      </div>
                      <div class="col-sm-3 text-align-center">
                         
                          <a class="btn btn-primary btn-info btn-sm" href="#">View profile</a>
                      </div>
                  </div>
              </div>
          </section>
          <section class="search-result-item">
              <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar6.png">
              </a>
              <div class="search-result-item-body">
                  <div class="row">
                      <div class="col-sm-9">
                          <h2 class="search-result-item-heading"><a href="#">John doe</a></h2>
                          <br>
                          <h5>Skills:</h5>
                          <p class="description">"Prototype / Mobile App Development / PhoneGap / Technical Support"</p>
                          
                      </div>
                      <div class="col-sm-3 text-align-center">
                          
                          <a class="btn btn-primary btn-info btn-sm" href="#">View profile</a>
                      </div>
                  </div>
              </div>
          </section>
          <section class="search-result-item">
              <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar2.png">
              </a>
              <div class="search-result-item-body">
                  <div class="row">
                      <div class="col-sm-9">
                          <h2 class="search-result-item-heading"><a href="#">John doe</a></h2>
                          <br>
                          <h5>Skills:</h5>
                          <p class="description">"Java / Android / jQuery / Prototype"</p>
                      </div>
                      <div class="col-sm-3 text-align-center">
                          
                          <a class="btn btn-info btn-sm" href="#">View Profile</a>
                      </div>
                  </div>
              </div>
          </section>
          <section class="search-result-item">
              <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar3.png">
              </a>
              <div class="search-result-item-body">
                  <div class="row">
                      <div class="col-sm-9">
                          <h2 class="search-result-item-heading"><a href="#">John doe</a></h2>
                          <br>
                          <h5>Skills:</h5>
              
                          <p class="description">"Prototype / Mobile App Development / PhoneGap / Technical Support"</p>
                      </div>
                      <div class="col-sm-3 text-align-center">
                          <a class="btn btn-info btn-sm" href="#">View Profile</a>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
  </div>