  <div class="card-holder">
    <div class="card" *ngFor="let project of projects" >
        <div class="card-body">
          <h5 class="card-title">{{project.projectName}}</h5>
          <p class="card-text">{{project.projectDescription}}</p>
          <p class="card-text1" style="color: blue">{{project.skillsSetList}}</p>
          <button  class="card-link btn btn-primary" routerLink="/projectDetailsComponent/{{project.projectId}}/{{project.projectOwnerEmailId}}">Details</button>
          <!-- <button class="card-link btn btn-warning">Bid</button> -->
        </div>
      </div>
    </div>
    
<!--     
        <div>
          <app-project-card-user-dashboard [project]=project></app-project-card-user-dashboard>
        </div>
       -->