<!-- <div class="container">
  <div class="row ng-scope">
      <div class="col-md-3 col-md-push-9">
          <h4>Results <span class="fw-semi-bold">Filtering</span></h4>
          <p class="text-muted fs-mini">Listed content is categorized by Skills:</p>
        
      </div>
      <div class="col-md-9 col-md-pull-3">
          <p class="search-results-count">About 94 700 000 (0.39 sec.) results</p>
          <section *ngFor="let project of projects" class="search-result-item">
              <div class="search-result-item-body">
                  <div class="row">
                      <div class="col-sm-9">
                          <h2 class="card-title">{{project.projectName}}</h2>
                          <br>
                          <h5>Skills:</h5>
                          <p class="description">{{project.skillsSetList}}</p>
                      </div>
                      <div class="col-sm-3 text-align-center">
                         
                          <a class="btn btn-primary btn-info btn-sm" href="#">View Details</a>
                      </div>
                  </div>
              </div>
          </section>
         
      </div>
  </div>
  </div> -->
  <div class="card-holder">
    <div class="card" *ngFor="let project of projects" >
        <div class="card-body">
          <h5 class="card-title">{{project.projectName}}</h5>
          <p class="card-text">{{project.description}}</p>
          <p class="card-text1" style="color: blue">{{project.skillsSetList}}</p>
          <button  class="card-link btn btn-primary">Details</button>
          <button class="card-link btn btn-warning">Bid</button>
        </div>
      </div>
    </div>
    
<!--     
        <div>
          <app-project-card-user-dashboard [project]=project></app-project-card-user-dashboard>
        </div>
       -->