<div class="card">
    <h1>RPG Game</h1>
    <p>- Experienced language Specialist with a demonstrated history of working in the translation.Experienced in game
        localization.Responsible and responsive
        -we need :
        Chinese
        English (native English speaker preferred)
        Currently have a card RPG project. This project is urgent, and there will be a test. If you can proceed the test
        today, please apply for the project.</p>
    <p class="skill">Java / Angular</p>
    <p *ngIf="isLoggedIn">
        <button class="btn btn-outline-secondary" (click)="openDialog()">Bid</button>
    </p>
</div>