<div class="container">
    
<div class="flex-container">
<div class="card" >
        <div class="card-body">
    <h1>{{project.projectName}}</h1>
    <p class=card-text>- Experienced language Specialist with a demonstrated history of working in the translation.
        
        Experienced in game localization.
        
        Responsible and responsive
        -we need :  Chinese
        English (native English speaker preferred)
        Currently have a card RPG project. This project is urgent, and there will be a test. 
        
        If you can proceed the test
        today, please apply for the project.</p>
        <div *ngFor="let skill of skills">
    <p class="skill">{{skill}}</p>
    </div>
    <p *ngIf="isLoggedIn">
        <button class="btn btn-outline-secondary" (click)="openDialog()">Bid</button>
    </p>
</div>
</div> 
</div>
</div>
