
.search-banner{
    background-image: url("/assets/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.search-form{
    background: rgba(255, 255, 255, 0.58);
}
.text1{
    font-family: fantasy;
    font-size: 60px;
    font-weight: bolder;
    color: aliceblue;
}
.TopFreelancers{
    font-family: Canela Deck Web;
    color: #012f43;
    text-align: center;
  font-size: 48px;
  font-weight: bold;
  text-decoration: underline;
  }
  .TopProjects{
    font-family: Canela Deck Web;
    color: #012f43;
    text-align: center;
  font-size: 48px; 
  font-weight: bold;  
  text-decoration: underline;
  }