<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="search-banner text-white py-3 form1" id="search-banner">
    <div class="container py-5 my-5">
        <div class="row text-center pb-4">
            <div class="col-md-12">
                <h2 class="text-white text1">Hire Freelancers</h2>
                <h2 class="text-white text1">Make Things Happen</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card search-form">
                    <div class="card-body">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group ">
                                    <input id="search-input" type="text" class="form-control" placeholder="Search for Projects" name="search" #search type="search">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success pl-5 pr-5"  routerLink="search/{{search.value}}" style="margin-left: 5px"type="submit" >Search</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- TOP FREELANCERS -->
<!-- <p class="TopProjects">Top Freelancers</p> -->
<div class="container">
    <div class="row">
      <div *ngFor="let freelancer of freelancers" class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="../assets/images/avatar.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">{{freelancer.name}}</h3>
            <h4 class="title">{{freelancer.skills}}</h4>
          </div>
          <button class="btn btn-primary" (click)="openDialog()" >View Profile</button>
        </div>
      </div>
    </div>
  </div>

<!-- Top Projects -->
<!-- <p class="TopProjects">Top Projects</p>       -->
<div class="container">
      <div class="row1">
        <div *ngFor="let project of projects" class="col-xs-3">
			<div class="project project-info">
				<div class="shape">
					<div class="shape-text">
						top								
					</div>
				</div>
				<div class="project-content">
					<h3 class="lead">
						{{project.name}}
					</h3>
					<p style="color:blue">
						{{project.skills}}
          </p>
          <button class="btn btn-dark" type="button" [routerLink]="['/detailsview']">View details</button>
				</div>
			</div>
    </div>
    </div>
    </div>