
  <div class="container mt-5">
    <!-- <div class="row">
      <table class="text-center">
        <tr>
          <td>Name</td>
          <td>:</td>
          <td>{{ projectDetails.name }}</td>
        </tr>
        <tr>
          <td>description</td>
          <td>:</td>
          <td>{{ projectDetails.description }}</td>
        </tr>
      </table>
    </div> -->

    <div class="card">
        <!-- <div class="card-header">
          {{projectDetails.name}}
        </div> -->
        <div class="card-body">
          <h5 class="card-title">{{projectDetails.name}}</h5>
          <p class="card-text">{{projectDetails.description}}</p>
        </div>
      </div>
    
    
      <div class="mt-5">
        <form>
          <div class="form-group">
              <label >Amount</label>
              <input class="form-control" type="text" />
          </div>
          <div class="form-group">
              <label>Location</label>
              <input class="form-control" type="text" />
          </div>
          <div class="form-group">
              <label>Prefrence</label>
              <input class="form-control" type="text" />
          </div>

          <button  class="btn text-white">Bid</button>
          <!-- <input class="form-control" type="text" />
          <input class="form-control" type="text" /> -->
        </form>
        <div class="text-right mb-3">
          <!-- <button  class="btn text-white">Bid</button> -->
        </div>
      
    </div>
  </div>

